<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />

    <script src="/libs/jquery/dist/jquery.min.js"></script> 
    <script src="/libs/bootstrap/dist/js/bootstap.min.js"></script>
    <script src="/libs/echarts/build/dist/echarts.js"></script>
  </head>
  <body>
    <div id="main" style="height:400px;"></div>
    <div id="main1" style="height:400px;"></div>
    <div id="main2" style="height:400px;"></div>

    <script src="/js/index.js"></script>

  </body>
</html>
