body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div{
    display: -webkit-box;
    /*opacity: 0.5;*/
    /*background: url(/images/index/circle-32.gif);*/
}